<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dp.common.dao.ExistMapper">
    <select id="userExists" resultType="Long">
        select exists (select * from user where id = #{userId})
    </select>
    
    <select id="groupExists" resultType="Long">
        select exists (select * from `group` where id = #{groupId})
    </select>
    
    <select id="memberExists" resultType="Long">
        select exist (select * from member where user_id = #{userId} and group_id = #{groupId})
    </select>
    
    <select id="contactExists" resultType="Long">
        select exist (select * from contact where user_id = #{userId} and contact_id = #{contactId})
    </select>

    <select id="fileExists" resultType="Long">
        select exist (select * from file where saved_path = #{path})
    </select>
</mapper>